.datatable-doc-demo .p-paginator .p-dropdown {
  float: left;
}
.datatable-doc-demo .p-paginator .p-paginator-current {
  float: right;
}

.datatable-doc-demo .p-datatable.p-datatable-customers .p-paginator {
  //border: 0 none;
  padding: 1em;
}

.p-datatable-thead > tr > th {
  text-align: center !important;

  background-color: rgb(231, 231, 231) !important;
  //border: 1px solid gray !important;
  &.p-highlight {
    background-color: rgb(16, 48, 155) !important;
    & > * {
      color: white !important;
    }
  }
  span.p-column-title {
    font-size: 17px !important;
  }
}

.p-filter-column {
  & > .p-column-filter {
    width: 100%;
  }
}

.p-datatable-emptymessage {
  & > * {
    text-align: center !important;
    font-size: 25px !important;
  }
}
