.datatable-doc-demo .p-paginator .p-dropdown {
  float: left;
}
.datatable-doc-demo .p-paginator .p-paginator-current {
  float: right;
}

.datatable-doc-demo .p-datatable.p-datatable-customers .p-paginator {
  //border: 0 none;
  padding: 1em;
}

.p-column-title {
  font-size: 15px !important;
}
