nav.my-nav {
  background-color: #1a1a1a !important;
}

.nav-item {

  & > .nav-link {
    color: white !important;
    border-bottom: 4px solid rgba(255, 255, 255, 0);

    &:hover {
      border-bottom: 4px solid green;
      transition: 0.3s;
    }
  }
}

.nav-link {
  color: white !important;
  border-bottom: 4px solid rgba(255, 255, 255, 0);

  &:hover {
    border-bottom: 4px solid green;
    transition: 0.3s;
  }
}

.text-overflow {
  text-overflow: clip;
}
