@import '~react-image-gallery/styles/scss/image-gallery.scss';

.cpointer {
  cursor: pointer;
}

.bg-black {
  background-color: #1a1a1a !important;
}

body,
div#__next,
main {
  height: 100vh !important;
}

.th__opciones {
  width: 100px;
}
a.nav-link {
  cursor: pointer !important;
}

a.dropdown-item {
  cursor: pointer !important;
  &:hover {
    color: white !important;
  }
}
.full_height {
  height: 100vh !important;
  overflow: hidden !important;
  overflow-y: hidden !important;
}

label {
  font-weight: 600 !important;
}

/*
        style={{
          display: 'flex',
          height: 'calc(100vh - 4.6rem)',
          backgroundColor: 'red',
          alignItems: 'center',
          overflowX: 'hidden',
        }}
*/

.container-grid {
  display: grid;
}
