@import '~react-image-gallery/styles/scss/image-gallery.scss';

.cpointer {
  cursor: pointer;
}

.bg-black {
  background-color: #1a1a1a !important;
}

body,
div#__next,
main {
  height: 100vh !important;
}

.th__opciones {
  width: 100px;
}
a.nav-link {
  cursor: pointer !important;
}

a.dropdown-item {
  cursor: pointer !important;
  &:hover {
    color: white !important;
  }
}
.full_height {
  height: 100vh !important;
  overflow: hidden !important;
  overflow-y: hidden !important;
}

label {
  font-weight: 600 !important;
}

/*
        style={{
          display: 'flex',
          height: 'calc(100vh - 4.6rem)',
          backgroundColor: 'red',
          alignItems: 'center',
          overflowX: 'hidden',
        }}
*/

.container-grid {
  display: grid;
}

.text-underline {
  text-decoration: underline;
}

button.nav__menu__user__item {
  outline: none !important;
  border-radius: 0;
  border: 1px solid #e7e7e783;
  background-color: white;
  height: 3rem;
  text-align: left;
  padding-left: 2rem;
  &:active {
    color: white;
    background-color: #3f51b5;
  }
  &:hover {
    border-left: 5px solid #3f51b5;
  }
}

.p-overlaypanel .p-overlaypanel-content {
  padding: 1.5rem 0rem 1.5rem 0rem !important;
  border: 1px solid #dfdfdf;
}

.p-overlaypanel:before {
  display: none !important;
}

.p-overlaypanel:after {
  display: none !important;
}

.p-menubar .p-menuitem-link {
  &:hover {
    border-left: 5px solid #3f51b5;
  }
}
